.history {
	height: 200px;
	margin-top: 30px;
}

.history__list {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.history__list-item {
	height: 180px;
	width: 140px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 0 0 2px black;
}

.history__list-item .temp {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.history__list-item .temp h6 {
	width: 50%;
	text-align: center;
	height: 20px;
	line-height: 20px;
}

.history__list-item .temp h6:first-child {
	border-bottom: 1px solid black;
}
